/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.nav li a {
  cursor: pointer;
}
