/* Fixes strange overflow of row because of margin-right: -15px; */
.row {
  width: 100%;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.nav li a {
  cursor: pointer;
}

.line {
  fill: transparent;
  stroke-width: 0.5px;
}

svg {
  width: 500px;
  height: 300px;
  border: 1px solid black;
}
