/* Space out content a bit */
body {
  margin-top: 20px;
}

/* Fixes strange overflow of row because of margin-right: -15px; */
.row {
  width: 100%;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.nav li a {
  cursor: pointer;
}

.main {
  margin-top: 15px;
}
